<% layout("/layouts/boilerplate.ejs") -%>
<div class="row mt-2">
    <div class="col-8 offset-2">
        <form action="/listings/<%= listing._id%>?_method=PUT" method="POST" novalidate class="needs-validation">
            <h3>Edit listing</h3>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" value="<%= listing.title%>" class="form-control" required>
                <div class="valid-feedback">Title Looks good!</div>
                <div class="invalid-feedback">Please enter the Title</div>
            </div>
            <div class="mb-3">
                <label for="description"class="form-label" >Description</label>
                <textarea type="text" name="listing[description]"  value="<%= listing.description%>"class="form-control"  required><%= listing.description%></textarea>
                <div class="invalid-feedback">Please enter a short description</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input name="listing[image][url]"  type="text"  value="<%=listing.image.url %>" class="form-control" required>
                <div class="invalid-feedback"> Image URL should be valid</div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]"  value="<%= listing.price%>" class="form-control" required>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>
               <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[location]" value="<%= listing.location%>" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid</div>
               </div>
            </div>
           <div class="mb-2">
            <label for="loaction" class="form-label">Loaction</label>
                <input type="text" name="listing[country]" id="" value="<%= listing.country%>" class="form-control" required>
                <div class="invalid-feedback"> Location should be valid</div>
           </div>
    
           <br><br>
            <button class="btn btn-dark edit-btn mb-3">Edit</button>
        </form>
    </div>
    
</div>

<!-- <script src="/js/script.js"></script> -->
